/**************************** Animation Stylesheet ****************************/

/**************************** START Scene ****************************/

.container {
  width: 100%;
  height: 200vh;
}
.start_background {
  position: fixed;
  max-width: 200% !important;
  width: 200%;
  height: 100vh;
  object-fit: cover;
}
.whole_robot {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 760px;
  position: relative;
  left: -300px;
  top: 320px;

}
.robot {
  width: 261px;
  height: 410px;
  z-index: 2;
}
.shadow {
  position: relative;
  top: -110px;
  left: -40px;
  width: 201px;
  height: 350px;
}
.rightarm {
  transform-origin: 200px 160px;
}
.rightarmshadow {
  transform-origin: 185px 311px;
}
.welcomecontent {
  position: absolute;
  right: 360px;
  top: -700px;
}
.startscreen {
  width: 1100px;
  height: 700px;
}
.welcometext {
  opacity: 0;
  position: relative;
  top: -380px;
  width: 600px;
  margin: 0 auto;
  z-index: 2;
}

/**************************** Advice Scene ****************************/

.robot_projection img {
  position: fixed;
  top: -100px;
  right: -900px;
  opacity: 0;
  z-index: 3;
}
.pasted_advice {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  left: 540px;
  top: -370px;
  width: 1700px;
} 
.pasted_advice_box {
  display: flex;
  flex-direction: column;
}
.pasted_advice svg {
  width: 320px;
  height: auto;
  opacity: 0;
  z-index: 3;
}
.iconbox div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 750px;
  right: 210px;
  top: 1100px;
}
.advice_text {
  right: 450px;
  width: 500px;
  z-index: 4;
}

/**************************** Visualization Scene ****************************/
.visual img:nth-child(5) {
  bottom: 408px;
  left: 689px;
}
.parachute {
  position: absolute;
  top: -100px;
  left: -800px;
}
.visual_background {
  position: absolute;
  max-width: 100% !important;
  width: 2400px;
  left: -1450px;
  bottom: 0;
  z-index: -1;
}
.visual_text {
  position: absolute;
  right: 400px;
  bottom: 900px;
}
.visual_projection {
  width: 600px;
  position: absolute;
  bottom: 400px;
  left: 510px;
  z-index: 2;
  opacity: 0;

}
.visual_projection_circle {
  width: 420px;
  position: absolute;
  bottom: -420px;
  left: 960px;
  opacity: 0;
}
.visual_graphics svg {
  position: absolute;
  width: 220px;
  z-index: 2;
}
.visual_graphics svg:nth-child(1) {
  bottom: 496px;
  left: 789px;
  width: 220px;
  opacity: 0;
}
.visual_graphics svg:nth-child(2) {
  bottom: -340px;
  left: 1060px;
  height: 250px;
}
.visual_graphics svg:nth-child(3) {
  width: 250px;
  bottom: -320px;
  left: 1045px;
}
/**************************** Production Scene ****************************/

.production_text {
  position: absolute;
  right: 1050px;

}
.production_lever {
  width: 220px;
  position: absolute;
  bottom: 260px;
  right: -220px;
}
.production_lever .lever_stick{
  transform-origin: 198px 118px;
}
.production_gears {
  width: 660px;
  position: absolute;
  left: -660px;
  bottom: 500px;
  transform: scale(-1);
}
.production_gears g:nth-child(2) {
  transform-origin: 60px 70.5px;
}
.production_gears g:nth-child(3) {
  transform-origin: 40px 49.5px;
}
.production_gears g:nth-child(4) {
  transform-origin: 60px 29.75px;
}
.production_bolts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
}
.production_bolts img {
  position: relative;
  bottom: -1500px;
  z-index: -1;
}
.production_bolts img:nth-child(1) {
  width: 360px;
}
.production_bolts img:nth-child(2) {
  width: 250px;
}
.production_bolts img:nth-child(3) {
  width: 320px;
}
.production_graphics div {
  display: flex;
  width: 1095px;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.production_graphics div svg, .production_graphics div img {
  position: relative;
}
.production_graphics svg {
  width: 220px;
}
.production_graphics div:nth-child(1) svg:nth-child(1) {
  bottom: -585px;
}
.production_graphics div:nth-child(2) svg:nth-child(1) {
  bottom: -185px;
}
.production_graphics div:nth-child(1) svg:nth-child(2) {
  bottom: -752px;
}
.production_graphics div:nth-child(2) svg:nth-child(2) {
  bottom: -410px;
}
.production_graphics div:nth-child(1) svg:nth-child(3) {
  bottom: -558px;
}
.production_graphics div:nth-child(2) svg:nth-child(3) {
  bottom: -275px;
}

/**************************** Future Scene ****************************/

.future_second_img img:nth-child(1) {
  width: 400px;
  position: absolute;
  bottom: 825px;
  left: 300px;
  z-index: 2;
  opacity: 0;
}
.future_second_img img:nth-child(2) {
  position: absolute;
  bottom: 80px;
  width: 1950px;
  right: 0;
  opacity: 0;
}
.future_iconbox img {
  position: absolute;
  width: 180px;
  opacity: 0;
}
.future_iconbox img:nth-child(1) {
  bottom: 600px;
  left: 900px;
}
.future_iconbox img:nth-child(2) {
  bottom: 700px;
  left: 1250px;
}
.future_iconbox img:nth-child(3) {
  bottom: 400px;
  left: 1470px;
}
.future_iconbox img:nth-child(4) {
  bottom: 750px;
  left: 1800px;
  width: 220px;
}
.future_iconbox img:nth-child(5) {
  bottom: 350px;
  left: 2150px;
  width: 200px;
}
.future_text h2, .future_text div {
  position: absolute;
}
.future_text h2 {
  bottom: 1150px;
  left: 256px;
}
.future_text div {
  bottom: 200px;
  left: 920px;
}

/**************************** END Scene ****************************/

.end_background {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
}
.endcontent {
  position: absolute;
  right: 360px;
  top: 300px;
  opacity: 0;
}
.endscreen {
  width: 1100px;
  height: 700px;
}
.endtext {
  position: absolute;
  top: 380px;
  left: 250px;
  width: 600px;
}


/**************************** RESPONSIVE ADDONS (for POI) ****************************/

@media only screen and (max-width: 1921px) {

  /**************************** ROBOT ****************************/
  .whole_robot {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 760px;
    position: relative;
    left: -300px;
    top: 255px;
    z-index: 2;

  }


  /**************************** START Scene ****************************/
  .container {
    width: 100%;
    height: 100vh;
  }
  .start_background {
    max-width: 200% !important;
    width: 200%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
  }
  .robot {
    width: 261px;
    height: 410px;
    z-index: 2;
  }
  .shadow {
    position: relative;
    top: -110px;
    left: -40px;
    width: 201px;
    height: 350px;
  }
  .rightarm {
    transform-origin: 200px 160px;
  }
  .rightarmshadow {
    transform-origin: 185px 311px;
  }
  .welcomecontent {
    position: absolute;
    right: 15%;
    top: -750px;
  }
  .startscreen {
    width: 700px;
    height: 700px;
  }
  .welcometext {
    opacity: 0;
    position: relative;
    top: -360px;
    width: 500px;
    margin: 0 auto;
    z-index: 2;
  }

  /**************************** Advice Scene ****************************/

  .pasted_advice {
    left: -95px;
    top: unset;
    width: 1700px;
    bottom: -310px;
    flex-direction: column;
  }
  .robot_projection img {
    position: relative;
    left: 700px;
    right: unset;
    opacity: 0;
    z-index: 3;
    top: unset;
    bottom: 900px;
  } 
  .pasted_advice svg {
    position: relative;
    left: 550px;
    top: unset;
    width: 280px;
    bottom: 2735px;
    height: auto;
    height: auto;
    opacity: 0;
    z-index: 3;
  }
  .pasted_advice_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 550px;
    height: 360px;
    right: unset;
    left: 1300px;
    top: unset;
    bottom: 3150px;
  }
  .iconbox div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 550px;
    right: unset;
    left: 1228px;
    top: unset;
    bottom: 3200px;
  }
  .advice_text {
    position: relative;
    right: unset;
    width: 520px;
    z-index: 4;
  }

  /**************************** Visualization Scene ****************************/
  .visual img:nth-child(5) {
    bottom: 338px;
    left: 589px;
  }
  .parachute {
    position: absolute;
    top: -250px;
    left: -35px;
    opacity: 0;
    z-index: 1;
  }
  .visual_background {
    position: absolute;
    max-width: 100% !important;
    width: 2400px;
    left: -1450px;
    bottom: 0;
    z-index: 1;
  }
  .visual_text {
    position: absolute;
    right: 280px;
    bottom: 800px;
  }
  .visual_projection {
    width: 600px;
    position: absolute;
    bottom: 330px;
    left: 410px;
    z-index: 2;
    opacity: 0;

  }
  .visual_projection_circle {
    width: 420px;
    position: absolute;
    bottom: -490px;
    left: 860px;
    opacity: 0;
    z-index: 1;
  }
  .visual_graphics svg {
    position: absolute;
    width: 220px;
    z-index: 2;
  }
  .visual_graphics svg:nth-child(1) {
    bottom: 426px;
    left: 694px;
    width: 220px;
    opacity: 0;
  }
  .visual_graphics svg:nth-child(2) {
    bottom: -400px;
    left: 960px;
    height: 250px;
  }
  .visual_graphics svg:nth-child(3) {
    width: 250px;
    bottom: -400px;
    left: 945px;
  }

  /**************************** Production Scene ****************************/

  .production_text {
    position: absolute;
    right: 750px;
    top: 100px;

  }
  .production_lever {
    width: 200px;
    position: absolute;
    bottom: 210px;
    right: -200px;
  }
  .production_lever .lever_stick{
    transform-origin: 198px 118px;
  }
  .production_gears {
    width: 560px;
    position: absolute;
    left: -660px;
    bottom: 500px;
    transform: scale(-1);
  }
  .production_gears g:nth-child(2) {
    transform-origin: 60px 70.5px;
  }
  .production_gears g:nth-child(3) {
    transform-origin: 40px 49.5px;
  }
  .production_gears g:nth-child(4) {
    transform-origin: 60px 29.75px;
  }
  .production_bolts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
  }
  .production_bolts img {
    position: relative;
    bottom: 0px;
    opacity: 0;
    z-index: 1;
  }
  .production_bolts img:nth-child(1) {
    width: 310px;
  }
  .production_bolts img:nth-child(2) {
    width: 210px;
  }
  .production_bolts img:nth-child(3) {
    width: 270px;
  }
  .production_graphics div {
    display: flex;
    width: 885px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  .production_graphics div svg, .production_graphics div img {
    position: relative;
  }
  .production_graphics svg {
    opacity: 0;
    width: 170px;
    z-index: 2;
  }
  .production_graphics div:nth-child(1) svg:nth-child(1) {
    bottom: 745px;
  }
  .production_graphics div:nth-child(2) svg:nth-child(1) {
    bottom: 1020px;
  }
  .production_graphics div:nth-child(1) svg:nth-child(2) {
    bottom: 600px;
  }
  .production_graphics div:nth-child(2) svg:nth-child(2) {
    bottom: 860px;
  }
  .production_graphics div:nth-child(1) svg:nth-child(3) {
    bottom: 735px;
  }
  .production_graphics div:nth-child(2) svg:nth-child(3) {
    bottom: 955px;
  }
  
/**************************** Future Scene ****************************/

  .future_second_img img:nth-child(1) {
    width: 350px;
    position: absolute;
    bottom: 681px;
    left: 288px;
    z-index: 2;
    opacity: 0;
  }
  .future_second_img img:nth-child(2) {
    position: relative;
    bottom: 2265px;
    width: 1380px;
    left: 540px;
    opacity: 0;
  }
  .future_iconbox img {
    position: absolute;
    width: 140px;
    opacity: 0;
  }
  .future_iconbox img:nth-child(1) {
    bottom: 535px;
    left: 740px;
  }
  .future_iconbox img:nth-child(2) {
    bottom: 620px;
    left: 990px;
  }
  .future_iconbox img:nth-child(3) {
    bottom: 380px;
    left: 1140px;
  }
  .future_iconbox img:nth-child(4) {
    bottom: 650px;
    left: 1390px;
    width: 180px;
  }
  .future_iconbox img:nth-child(5) {
    bottom: 310px;
    left: 1620px;
    width: 160px;
  }
  .future_text h2, .future_text div {
    position: relative;
  }
  .future_text h2 {
    bottom: 3080px;
    left: 256px;
  }
  .future_text div {
    bottom: 2570px;
    left: 800px;
  }
  /**************************** END Scene ****************************/

  .end_background {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
  }
  .endcontent {
    position: absolute;
    left: 850px;
    top: -4100px;
    opacity: 0;
  }
  .endscreen {
    width: 700px;
    height: 700px;
  }
  .endtext {
    position: absolute;
    top: 380px;
    left: 130px;
    width: 500px;
  }
  
}

