/**************************** Animation Stylesheet ****************************/

/**************************** WELCOME Scene ****************************/

.container {
  width: 100%;
  height: 200vh;
}

/**************************** ROBOT ****************************/

.whole_robot {
  position: absolute;
  bottom: 0;
  transform: translateX(-340px);
}
.robot {
  width: 340px;
}
.shadow {
  position: relative;
  top: -110px;
  left: -40px;
  width: 201px;
  height: 350px;
}
.rightarm {
  transform-origin: 200px 160px;
}
.rightarmshadow {
  transform-origin: 185px 311px;
}


/**************************** CONTENT ****************************/

.paperplane {
  width: 400px;
  transform: translateX(-300px);
}
.robot_projection {
  width: 1700px;
  position: relative;
  left: 730px;
  transform: rotate(-70deg);
  bottom: 990px;
  opacity: 0;
}
.text {
  width: 760px;
  position: absolute;
  z-index: 2;
  top: 120px;
  right: 210px;
  opacity: 0;
}

