.horizontal {
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 0 120px;
    background: #fff;
    z-index: 999;
    opacity: 1 !important;
    box-shadow: 0 1px 42px -8px #000;
    margin-top: -100px;
}
.horizontal h2 {
    display: inline-block;
    height: 100%;
    width: 420px;
    align-items: center;
    color: #8188A6;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}
.horizontal h2:after {
    position: absolute;
    top: 3px;
    left: 460px;
    content: " ";
    height: 90%;
    width: 1px;
    background-color: #B7CAFF;
}
.horizontal nav {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
}
.horizontal nav ul {
    display: flex;
    width: 260px;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
}
.horizontal nav ul li {
    display: flex;
    align-items: center;
}
.horizontal nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: inherit;
    padding: 0 12px;
    height: 35px;
    transition: .2s ease;
}
.horizontal nav ul li a:hover {
    color: #fff;
    background-color: rgba(183, 202, 255, .7);
    border-radius: 6px;
}